<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps Heatmap</title>
    <style>
      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: { lat: 37.775, lng: -122.434 },
          mapTypeId: 'satellite',
        });

        var points = {{ points|safe }};

        var gmapsPoints = points.map(function(point) {
            return { 
                location: new google.maps.LatLng(point.lat, point.lng), weight: point.weight 
            };
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: gmapsPoints,
          map: map,
        });
      }
    </script>
    <script
      src = {{ url|safe }}
      async
      defer
    ></script>
  </body>
</html>